#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75rem;
    padding: 5.625rem;
}

#container h1 {
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin-bottom: 3.75rem;
}

#container h2 {
    text-align: center;
}

#container p#instrucao {
    text-align: center;
    margin: 1.25rem 0 3.75rem 0;
}

#container img {
    width: 37.5rem;
}

#container hr {
    background: #e5e5e5;
    height: 0.0625rem;
    width: 100%;
    margin: 6.25rem 0 2.1875rem 0;
}

#container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#form p#aviso {
    font-weight: 500;
    margin-bottom: 6.25rem;
}

#form p#aviso strong {
    font-weight: 600;
}
  
form div.column-input {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;
    margin-bottom: 4.375rem;
}

form label {
    font-weight: 500;
}

.column-input input[type="text"],
input[type="number"],
input[type="submit"],
select,
textarea,
button {
    border: 0.0625rem solid #201e1f;
    padding: 0.625rem;
    height: 2.1875rem;
}

form .row {
    display: flex;
    width: 100%;
    gap: 3.75rem;
}

.column-input.input-text {
    width: 50%;
}

.column-input.select {
    width: 30%;
}

.column-input.select select {
    padding: 0 0.3125rem;
}

form .row-selectors {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

form .row-selectors input[type="radio"] {
    width: 1.5625rem;
    height: 1.5625rem;
}

form .row-selectots label {
    font-weight: 400;
}

form textarea {
    min-height: 6.25rem;
    max-height: 12.5rem;
    min-width: 50%;
    max-width: 100%;
}

form button {
    padding: 0.3125rem 1.25rem;
}
